/*CSS*/

/*Général*/

body {
    background: #fff;
    color: #2f3138;
    font-family: "Open Sans", sans-serif;
  }
  
  a {
    color: #ffb302;
    transition: 0.5s;
  }
  
  a:hover,
  a:active,
  a:focus {
    color: #ffb302;
    outline: none;
    text-decoration: none;
  }
  
  p {
    padding: 0;
    margin: 0 0 30px 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    margin: 0 0 20px 0;
    padding: 0;
    color: #0e1b4d;
  }
  
  .main-page {
    margin-top: 50px;
  }
  
  .wow {
    visibility: hidden;
  }
  
  /* Bouton chargement */
  
  #preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #fff url("../img/preloader.svg") no-repeat center center;
  }
  
  /* Bouton retour vers le haut */
  
  .back-to-top {
    position: fixed;
    display: none;
    background: #ffb302;
    color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s ease-in-out;
  }
  
  .back-to-top i {
    font-size: 24px;
    padding-top: 6px;
  }
  
  .back-to-top:focus {
    background: #ffb302;
    color: #fff;
    outline: none;
  }
  
  .back-to-top:hover {
    background: #ffd165;
    color: #fff;
  }
  
  /*HEADER*/
  
  /*titres des sections + soulignement + descriptif*/
  .section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #ffb302;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #686868;
  }
      /*fond des sections*/ 
  .section-with-bg {
    background-color: #f6f7fd;
  }
  
  /* Barre de navigation */
  
  #header {
    height: 90px;
    padding: 25px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
        /*scroll du header*/
  #header.header-scrolled,
  #header.header-fixed {
    background: rgba(29, 10, 51, 0.98);
    height: 70px;
    padding: 15px 0;
    transition: all 0.5s;
  }
        /*logo header*/
  #header #logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 6px 0;
    line-height: 1;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header #logo h1 span {
    color: #ffb302;
  }
  
  #header #logo h1 a,
  #header #logo h1 a:hover {
    color: #fff;
  }
  
  #header #logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  
  /* Menu de navigation */
  
  .nav-menu,
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
  }
  
  .nav-menu li {
    position: relative;
    white-space: nowrap;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  .nav-menu li:hover > ul,
  .nav-menu li.sfHover > ul {
    display: block;
  }
  
  .nav-menu ul ul {
    top: 0;
    left: 100%;
  }
  
  .nav-menu ul li {
    min-width: 180px;
  }
  
  /* Container menu de navigation */
  
  #nav-menu-container {
    float: right;
    margin: 0;
  }
  
  /* Style du menu */
  
  .nav-menu a {
    padding: 8px;
    text-decoration: none;
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 16px;
    outline: none;
  }
  
  /* hover des titres du menu */
  .nav-menu .menu-active a,
  .nav-menu a:hover {
    color: #ffb302;
  }
  
  /* marge entre les titres du menu */
  .nav-menu > li {
    margin-left: 10px;
  }
  
  /* soulignement des titres du menu */
  .nav-menu > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffb302;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .nav-menu a:hover:before,
  .nav-menu li:hover > a:before,
  .nav-menu .menu-active > a:before {
    visibility: visible;
    width: 100%;
  }
  
  .nav-menu ul {
    margin: 4px 0 0 0;
    padding: 10px;
    box-shadow: 0px 0px 30px rgb(127, 137, 161);
    background: #fff;
    border-radius: 3px;
  }
  
  .nav-menu ul li {
    transition: 0.3s;
  }
  
  .nav-menu ul li a {
    padding: 10px;
    color: #060c22;
    transition: 0.3s;
    display: block;
    font-size: 13px;
    text-transform: none;
    border-radius: 3px;
  }
  
  .nav-menu ul li:hover > a {
    background: #ffb302;
    color: #fff;
  }
  
  .nav-menu ul ul {
    margin: 0;
  }
  
  /* Menu et navigation version mobile */
  
  /* style du burger */
  #mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 15px 15px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
  }
  
  /* couleur burger */
  #mobile-nav-toggle i {
    color: #ffb302;
  }
  
  /* fond du menu mobile */
  
  #mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(6, 12, 34, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
  }
  
  #mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  #mobile-nav ul li {
    position: relative;
  }
  
  /* titres du menu */
  #mobile-nav ul li a {
    color: #fff;
    font-size: 17px;
    overflow: hidden;
    padding: 10px 22px 10px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
  }
  
  /* hover des titres du menu */
  #mobile-nav ul li a:hover {
    color: #ffb302;
  }
  
  #mobile-nav ul li li {
    padding-left: 30px;
  }
  
  #mobile-nav ul .menu-item-active {
    color: #ffb302;
  }
  
  #mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(6, 12, 34, 0.8);
    display: none;
  }
  
  #mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
  }
  
  #mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #ffb302;
  }
  
  /* Classe body du menu de navigation */
  
  body.mobile-nav-active {
    overflow: hidden;
  }
  
  body.mobile-nav-active #mobile-nav {
    left: 0;
  }
  
  body.mobile-nav-active #mobile-nav-toggle {
    color: #fff;
  }
  
  /* Section introduction */
  
  #intro {
    width: 100%;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  
  #intro:before {
    content: "";
    background: rgba(32, 5, 48, 0.637);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #intro .intro-container {
    position: absolute;
    bottom: 0;
    left: 0;
    top: 90px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0 15px;
  }
  
  #intro h1 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  #intro h1 span {
    color: #ffb302;
  }
  
  #intro p {
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
  }
  
  #intro .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#ffb302 50%, rgba(255, 238, 1, 0.102) 52%);
    border-radius: 50%;
    display: block;
    position: relative;
    overflow: hidden;
  }
  
  #intro .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  #intro .play-btn:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate-btn 2s;
    animation: pulsate-btn 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    top: -15%;
    left: -15%;
    background: rgba(255, 25, 4, 0);
  }
  
  #intro .play-btn:hover::after {
    border-left: 15px solid #ffb302;
    -webkit-transform: scale(20);
    transform: scale(20);
  }
  
  #intro .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
  }
  
  #intro .about-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    border: 2px solid #ffb302;
  }
  
  #intro .about-btn:hover {
    background: #1d0a33fa;
    color: #fff;
  }
  
  @-webkit-keyframes pulsate-btn {
    0% {
      -webkit-transform: scale(0.6, 0.6);
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  @keyframes pulsate-btn {
    0% {
      -webkit-transform: scale(0.6, 0.6);
      transform: scale(0.6, 0.6);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity: 0;
    }
  }
  
  /* Section à propos */
  
  #about {
    background: url("../img/about-bg.jpg");
    background-size: cover;
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 60px 0 40px 0;
  }
  
  #about:before {
    content: "";
    background: rgba(13, 20, 41, 0.198);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #about h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #about h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
  }
  
  #about p {
    font-size: 15px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  /* Section invités */
  
  #guests {
    padding: 60px 0 30px 0;
  }
  
  #guests .invit {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  #guests .invit .details {
    background: #1d0a33b9;
    position: absolute;
    left: 0;
    bottom: -30px;
    right: 0;
    text-align: center;
    padding-top: 10px;
    transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  #guests .invit .details h3 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #guests .invit .details p {
    color: #ffb302;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
  }
  
  #guests .invit .details .social {
    height: 30px;
  }
  
  #guests .invit .details a {
    color: #fff;
  }
  
  #guests .invit .details a:hover {
    color: #ffb302;
  }
  
  #guests .invit:hover .details {
    bottom: 0;
  }
  
  /* Section programme */
  
  #prog {
    padding: 60px 0 60px 0;
  }
  
  #prog .nav-tabs {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 30px;
  }
  
  #prog .nav-tabs li {
    display: inline-block;
    margin-bottom: 0;
  }
  
  #prog .nav-tabs a {
    border: none;
    border-radius: 50px;
    font-weight: 600;
    background-color: 
    #1d0a33fa;
    color: #fff;
    padding: 10px 100px;
  }
  
  #prog .nav-tabs a.active {
    background-color: #ffb302;
    color: #fff;
  }
  
  #prog .sub-heading {
    text-align: center;
    font-size: 18px;
    font-style: italic;
    margin: 0 auto 30px auto;
  }
  
  #prog .tab-pane {
    transition: ease-in-out .2s;
  }
  
  #prog .prog-item {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    transition: background-color ease-in-out 0.3s;
  }
  
  #prog .prog-item:hover {
    background-color: #fff;
  }
  
  #prog .prog-item time {
    padding-bottom: 5px;
    display: inline-block;
  }
  
  #prog .prog-item .invit {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 0 10px 10px 0;
  }
  
  #prog .prog-item .invit img {
    height: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    margin-left: 50%;
    transition: all ease-in-out 0.3s;
  }
  
  #prog .prog-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  #prog .prog-item h4 span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
  }
  
  #prog .prog-item p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
  }
  
  /* Section partenaires */
  
  #partners {
    padding: 60px 0;
    background-color: #fff;
  }
  
  #partners .partners-wrap {
    border-top: 1px solid #e0e5fa;
    border-left: 1px solid #e0e5fa;
    margin-bottom: 30px;
  }
  
  #partners .partner-logo {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 1px solid #e0e5fa;
    border-bottom: 1px solid #e0e5fa;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
    height: 250px;
  }
  
  #partners .partner-logo:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  
  #partners img {
    transition: all 0.4s ease-in-out;
  }
  
  /* Section contact */
  
  #contact {
    padding: 60px 0;
    background-color: #f3f3f3ca;
  }
  
  #contact .map iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
  }
  
  #contact .localisation {
    margin-bottom: 70px; 
  }
  
  #contact .localisation .map {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  input,
  textarea,
  select {
      background: #fff;
      outline: none;
      -webkit-appearance: none;
      color: #ffb302;
      border: 1px solid #ffb302;
      padding: 11px 25px;
      margin: 0px;
      font-style: italic;
      font-weight: 400;
      line-height: 1.42857143;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      height: auto;
      -webkit-border-radius: none;
      -moz-border-radius: none;
      border-radius: none;
      margin-bottom: 20px;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease;
         -moz-transition: background-color .3s ease, border .3s ease, color .3s ease;
          -ms-transition: background-color .3s ease, border .3s ease, color .3s ease;
           -o-transition: background-color .3s ease, border .3s ease, color .3s ease;
              transition: background-color .3s ease, border .3s ease, color .3s ease;
  }
  
  textarea {
      width: 100%;
      padding: 10px 20px;
      resize: both;
      margin-top: 0px;
      font-style: italic;
      height: 150px;
  }
      
  input:hover,
  textarea:hover,
  select:hover {
      color: #333;
  }
      
  input:focus,
  textarea:focus,
  select:focus {
      color: #333;
  }
  
  input[type="submit"],
  button {
      width: auto;
      font-style: normal;
      font-weight: 300;
      background: #ffb302;
      color: #333;
      cursor: pointer;
      border: 0px solid #fff;
      padding: 12px 20px;
      letter-spacing: 1px;
  }
  
  input[type="submit"]:hover,
  button:hover {
      color: #fff;
  }
  
  select, option {
      cursor: pointer;
  }
  
  input[type="checkbox"] {
      -webkit-appearance: checkbox;
  }
  
  input[type="radio"] {
      -webkit-appearance: radio;
  }
  
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
      color: #333;
  }
  
  input:-moz-placeholder,
  textarea:-moz-placeholder {
      color: #333;
  }
  
  input.placeholder,
  textarea.placeholder {
      color: #333;
  }
  
  input[placeholder] {
      text-overflow: ellipsis;
  }
  
  ::-moz-placeholder {
      text-overflow: ellipsis;
  } /* firefox 19+ */
  
  input:-moz-placeholder {
      text-overflow: ellipsis;
  }
  
  .form {
      position: relative;
      overflow: hidden;
  }
  
  .form-container {
      position: relative;
      overflow: hidden;
  }
  
  .form-note {
      color: #333;
      font-style: italic;
      margin: 24px 0;
  }
  
  .success-message {
      padding-top: 10px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      display: none;
  }
  
  .error-message {
      padding-top: 10px;
      color: #fff;
      font-size: 14px;
      font-weight: 300;
      display: none;
  }
  
  .contact-form input[type="text"], .contact-form input[type="email"] {
      width: 100%;
  }
  
  .contact-form input, .contact-form textarea, .contact-form select {
      background: #fff;
      outline: none;
      -webkit-appearance: none;
      color: #333;
      border-bottom: 2px solid #999;
      padding: 16px 20px;
      margin: 0px;
      font-style: italic;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      height: auto;
      margin-bottom: 20px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease;
      -moz-transition: background-color .3s ease, border .3s ease, color .3s ease;
      -ms-transition: background-color .3s ease, border .3s ease, color .3s ease;
      -o-transition: background-color .3s ease, border .3s ease, color .3s ease;
      transition: background-color .3s ease, border .3s ease, color .3s ease;
      position: relative; 
  }
  
  .contact-form textarea {
      margin-bottom: 18px;
  }
  
  .contact-form .input-error {
      border-color: rgba(6, 12, 34, 0.98);;
  }
  
  .contact-form .response-message {
      margin: 20px 0 30px 0;
      font-size: 18px;
      font-weight: 300;
      color: #333;
  }
  
  
  /* Footer */
  
  #footer {
    background: #101522;
    padding: 0 0 20px 0;
    color: #fff;
    font-size: 14px;
  }
  
  #footer .copyright {
    text-align: center;
    padding-top: 30px;
  }
  
  #footer .credits {
    text-align: center;
    font-size: 13px;
    color: #ddd;
  }
  
  #footer .credits a {
    color: #ffb302;
  }
  
  /* Responsive */
  
  @media (min-width: 768px) {
    #contact .contact-address,
    #contact .contact-phone,
    #contact .contact-email {
      padding: 20px 0;
    }
  
    #contact .contact-phone {
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }
  }
  
  @media (min-width: 991px) {
    #prog .sub-heading {
      width: 75%;
    }
  }
  
  @media (min-width: 1024px) {
    #intro {
      background-attachment: fixed;
    }
  
    #about {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 1199px) {
    #header .container {
      max-width: 100%;
    }
  
    .nav-menu a {
      padding: 8px 4px;
    }
  }
  
  @media (max-width: 991px) {
    #header {
      background: rgba(6, 12, 34, 0.98);
      height: 70px;
      padding: 15px 0;
      transition: all 0.5s;
    }
  
    #nav-menu-container {
      display: none;
    }
  
    #mobile-nav-toggle {
      display: inline;
    }
  
    #intro .intro-container {
      top: 70px;
    }
  
    #intro h1 {
      font-size: 34px;
    }
  
    #intro p {
      font-size: 16px;
    }
  
    #prog .nav-tabs a {
      padding: 8px 60px;
    }
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  @media (max-width: 767px) {
    #prog .nav-tabs a {
      padding: 8px 50px;
    }
  }
  
  @media (max-width: 480px) {
    #prog .nav-tabs a {
      padding: 8px 30px;
    }
  }